* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Nunito sans', sans-serif;
    font-style: normal;
    box-sizing: border-box;
    color: #131313;
    
    
}


.projects {
    background-color: #131313;;
}

.wrapper {
    max-width: 1171px;
    margin: 0 auto;
    padding-top: 107px;
}

.menu-projects {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 45px;
    
}

.title { 
    font-family: Yeseva One;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

}

.brass-text {
    color: #E3B873;
}
.menu-projects__item {
    color: #FFFFFF4D;
    list-style-type: none;
}

.menu-projects__link {
    text-decoration: none;
    color: #FFFFFF4D;
    margin-right: 60.5px;
    cursor: pointer;
}

.project-content {
    display: flex;
    justify-content: space-between;
}

.project-content__text { 
    display: flex;
    flex-direction: column;
}

.projects-title {
    font-family: Yeseva One;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.4px;
    letter-spacing: -1.89px;
    text-transform: uppercase;
    margin-bottom: 34px;
}

.projects-subtitel {
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.7px;
    margin-bottom: 42px;
}
.description {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;

}
.description-item {
    width: 50%;
    margin-bottom: 34px;
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
}
.description-item-title {
    color: #E3B873;
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.arrows {
    display: flex;
    justify-content: space-between;
    width: 50%;

}
.arrow {
    display: flex;
    align-items: center;
}
.slider-arrow-left,
.slider-arrow-right {
    cursor: pointer;
    opacity: 0.3;
}
.slider-arrow-left:hover {
    opacity: 1.0;
}
.slider-arrow-right:hover {
    opacity: 1.0;
}
.dots {
    display: flex;
    align-items: center;
}
.dot { 
    margin-right: 15px;
    opacity: 0.3;
}
.dot:hover {
    opacity: 1 !important;
}



.slider-img .image {
    background-size: cover;
    background-position: center center;
    width: 679px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;  
    transition: opacity 800ms ease;
}
.slider-img .image.active {
    opacity: 1;
}
.brass-hypertext {
    border-bottom: 1px solid #E3B873;
    color: #E3B873 !important;
}
